<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova entrega CANCELADA, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ productDelivery }} <br />
  <small>
    Acesse o sistema de cancelamento do para obter todos os detalhes.
  </small>
</p>
