<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova entrega te esperando, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ productDelivery }} <br />
  <small>
    Acesse o sistema de entrega do para obter todos os detalhes da entrega.
  </small>
</p>
